@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2D2D2A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2D2D2A;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
}
