@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222831;
  --foreground: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #EEEEEE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
}
